@inject Microsoft.AspNetCore.Http.IHttpContextAccessor contextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LTSMerchWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StylesLogIn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LTSMerchWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StylesTables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomModal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CartModal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CartStyle.css" asp-append-version="true" />
</head>
<body>
    @if (ViewData["HideHeaderFooter"] == null || !(bool)ViewData["HideHeaderFooter"])
    {
        <header class="pd-header p-3">
            <nav class="d-flex align-items-center">
                <div class="d-flex justify-content-start">
                    <a asp-area="" asp-controller="Products" asp-action="ProductsList" class="btn btn-link">Merch</a>
                    @if (contextAccessor.HttpContext.Session.GetInt32("RoleTypeId") == 1)
                    {
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="btn btn-link">Admin Panel</a>
                    }
                </div>
                <div class="d-flex justify-content-center flex-grow-1 text-center">
                    <a asp-area="" asp-controller="Products" asp-action="ProductsList">
                        <img src="~/img/firma-negro.png" alt="firma" width="125">
                    </a>
                </div>
                <div class="d-flex justify-content-end user-cart">
                    <div class="search-container">
                        <button class="search-button">
                            <img src="~/img/lupa.png" alt="Buscar" width="20">
                        </button>
                        <input type="text" placeholder="Buscar" class="search-input">
                    </div>
                    @if (contextAccessor.HttpContext.Session.GetInt32("UserId") != null)
                    {
                        <a asp-area="" asp-controller="Users" asp-action="UserInfo" asp-route-id="@contextAccessor.HttpContext.Session.GetInt32("UserId")">
                            <img src="~/img/user.png" alt="User Info" width="24">
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Login">
                            <img src="~/img/user.png" alt="Iniciar Sesion" width="24">
                        </a>
                    }

                    <a asp-area="" asp-controller="Products" asp-action="ShoppingCart"><img src="~/img/carrito.png" alt="Carrito" width="30"></a>
                    @if (contextAccessor.HttpContext.Session.GetInt32("UserId") != null)
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Logout" class="btn btn-link">Cerrar sesion</a>
                    }
                </div>
            </nav>
        </header>
    }
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (ViewData["HideHeaderFooter"] == null || !(bool)ViewData["HideHeaderFooter"])
    {
        <footer>
            <div class="container-left">
                <img src="~/img/logosinfondo.png" alt="firma" width="125">
                <section class="about">
                    <a href="#">AYUDA Y SOPORTE</a>
                    <a href="#">TERMINOS</a>
                    <a href="#">PRIVACIDAD</a>
                    <a href="#">OPCION DE COOKIES</a>
                </section>
            </div>
            <div class="container-right">
                <section class="social">
                    <a href="https://open.spotify.com/artist/5KnpqEkqOmyLOHlnyuT3Sd?si=VvSmzF8aRzaQvB87Bm_QJQ" target="_blank">
                        <img src="~/img/spotify.png" alt="spotify" width="34">
                    </a>
                    <a href="https://music.apple.com/mx/artist/luis-ts/1767461351" target="_blank">
                        <img src="~/img/Music.png" alt="musica" width="34">
                    </a>
                    <a href="#" target="_blank">
                        <img src="~/img/youtube.png" alt="youtube" width="34">
                    </a>
                    <a href="https://www.instagram.com/luistssss?igsh=MWYxM3hpbzJrY2FhNQ%3D%3D&utm_source=qr" target="_blank">
                        <img src="~/img/instagram.png" alt="instagram" width="34">
                    </a>
                    <a href="#" target="_blank">
                        <img src="~/img/twitter.png" alt="twitter" width="34">
                    </a>
                    <a href="#" target="_blank">
                        <img src="~/img/facebook.png" alt="facebook" width="34">
                    </a>
                </section>

                <section class="info">
                    <h5>CONTACTANOS</h5>
                    <h2>662 XXX XXXX</h2>
                </section>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
