################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.LTSMerchWebApp/.idea
/LTSMerchWeb/obj
.vs
