@model LTSMerchWebApp.Models.Size

<div class="sidepanel-form">
    <div class="sidepanel-form-group">
        <dl class="sidepanel-details">
            <dt class="sidepanel-details-label">
                @Html.DisplayNameFor(model => model.SizeName)
            </dt>
            <dd class="sidepanel-details-value">
                @Html.DisplayFor(model => model.SizeName)
            </dd>
        </dl>

        <div class="sidepanel-button-container">
            <a asp-action="Edit" asp-route-id="@Model?.SizeId" class="sidepanel-link">Editar</a> |
            <a asp-action="Index" class="sidepanel-link">Regresar a la lista</a>
        </div>
    </div>
</div>
