@model LTSMerchWebApp.Models.Size
<link href="~/css/StylesSizesSidebar.css" rel="stylesheet">

<div class="sidepanel">
    <div class="sidepanel-header">
        <span class="closebtn" onclick="closeSidebar()">&times;</span>
        <h2>Editar</h2>
        <hr class="header-line">
    </div>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="sidepanel-validation-summary"></div>

        <input type="hidden" asp-for="SizeId" />

        

        <div class="sidepanel-form-group"> 
            <label class="sidepanel-form-label">@Html.DisplayFor(model => model.SizeName)</label>
            <label asp-for="SizeName" class="sidepanel-form-label">Talla</label>
            <input asp-for="SizeName" class="sidepanel-form-control" />
            <span asp-validation-for="SizeName" class="sidepanel-validation-error"></span>
        </div>

        <div class="stockinput">
            <label>Stock</label> <!-- Label para stock -->
            <input type="text" name="ProductName" class="form-control" /> <!-- Input para stock -->
        </div>

        <div class="EditButton">
            <input type="submit" value="Guardar" class="sidepanel-submit-button" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
