<head>
    <style>
        .thank-you-message {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20vh; /* Add margin to push the content down */
        }

            .thank-you-message h1 {
                font-size: 3rem;
                font-weight: 900;
                margin: 0;
            }

            .thank-you-message h2 {
                font-size: 2rem;
                font-weight: 900;
                margin: 0;
            }

            .thank-you-message p {
                font-size: 1.2rem;
                font-weight: 300;
                margin-top: 20px;
            }
    </style>
</head>
    <div class="thank-you-message text-center">
        <h1 class="display-1">MUCHAS GRACIAS</h1>
        <h2 class="display-4">POR TU COMPRA</h2>
        <p class="lead">Se te enviará un correo electrónico a la dirección proporcionada con información acerca de tu pedido.</p>
    </div>